extends layout

block content
  .slideshow-container
    include iphone-x-slide.pug
    include iphone-8-slide.pug
    //- include iphone-7-slide.pug
    //- include iphone-6-slide.pug
    //- include iphone-5-slide.pug
    //- include iphone-4-slide.pug
    //- include iphone-3-slide.pug
    //- include iphone-original-slide.pug