//- extends index

block iphone-8-slide
  #iphone-8.slide.w3-animate-right
    .card-grid-container
      #iphone-8-card.card
        .item1
          h2.title iPhone 8
          ul.bullets
            li Year Introduced: 2017
            li Capacity: 64, 256 GB
            li Colors: Gold, silver, space gray, red
            li Model number: A1863, A1905, A1906 (Japan)
        img.thumb(src="/images/iphone-8-colors.png", alt="iphone-8-color")
        ul.services
          li 
            p.name Screen Replacement
            p.price $129.99
          li 
            p.name Battery Replacement
            p.price $44.99
          li 
            p.name Otterbox / Tempered Glass
            p.price $34.99 / $9.99
      #iphone-8plus-card.card.plus
        .item1
          h2.title iPhone 8 Plus
          ul.bullets
            li Year Introduced: 2017
            li Capacity: 64, 256 GB
            li Colors: Gold, silver, space gray, red
            li Model number: A1864, A1897, A1898 (Japan)
        img.thumb(src="/images/iphone-8plus-colors.png", alt="iphone-8plus-color")
        ul.services
          li 
            p.name Screen Replacement
            p.price $129.99
          li 
            p.name Battery Replacement
            p.price $44.99
          li 
            p.name Otterbox / Tempered Glass
            p.price $34.99 / $9.99