//- extends index

block iphone-x-slide
  #iphone-x.slide.w3-animate-right
    .card-grid-container
      #iphone-x-card.card
        .item1
          h2.title iPhone X
          ul.bullets
            li Year Introduced: 2017
            li Capacity: 64, 256 GB
            li Colors: Silver, space gray
            li Model number: A1865, A1901, A1902 (Japan)
        img.thumb(src="/images/iphone-x-colors.png", alt="iphone-x-color")
        ul.services
          li Screen Replacement
            p $129.99
          li Battery Replacement
            p $44.99
          li Otterbox / Tempered Glass
            p $34.99 / $9.99