//- extends index

block iphone-original-slide
  #iphone-original.slide.w3-animate-right
    .card-grid-container
      #iphone-original-card.card
        .item1
          h2.title The iPhone
          ul.bullets
            li Year Introduced: 2007
            li Capacity: 4, 8, 16 GB
            li Model number: A1203
        img.thumb(src="/images/iphone-original-colors.jpg", alt="iphone-original-color")
        //- ul.services
        //-   li 
        //-     p 
        //-   li 
        //-     p 
        //-   li 
        //-     p 
        .item3
          p The iPhone.